<h1 class="text-2xl font-bold">Users</h1>

@if (isLoading) {
  <p>Loading...</p>
} @else {
  <div class="pt-7">
    <input [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search" class="border border-gray-500 p-2 mb-4 w-full rounded-lg" />
  </div>
  <div>
    <button class="bg-primary text-white px-4 py-2 rounded-lg mr-2 hover:bg-secondary hover:cursor-pointer">Add User</button>
  </div>
  <div class="pt-4">
      <table class="w-full border-collapse rounded-xl">
      <thead>
        <tr class="bg-secondary text-left h-10">

          <th class="p-3 rounded-tl-lg cursor-pointer w-1/4" (click)="toggleSort('FirstName')">
            <div class="flex flex-row justify-between items-center">
              First Name
              <span class="material-symbols-outlined text-sm">
                {{ sortField === 'FirstName' && sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
              </span>
            </div>
          </th>

          <th class="p-3 cursor-pointer w-1/4" (click)="toggleSort('LastName')">
            <div class="flex flex-row justify-between items-center">
              Last Name
              <span class="material-symbols-outlined text-sm">
                {{ sortField === 'LastName' && sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
              </span>
            </div>
          </th>

          <th class="p-3 rounded-tr-lg cursor-pointer w-1/2">Absences</th>
        </tr>
      </thead>
      <tbody>
        @for(user of filteredUsers; track $index) {
          <tr class="border-b border-gray-200 hover:bg-gray-50 h-10 text-gray-500">
            <td class="p-3">{{user.MiddleName ? user.FirstName + ' ' + user.MiddleName : user.FirstName}}</td>

            <td class="p-3">{{user.LastName}}</td>

            <td class="p-3">
              @for(absence of getVisibleAbsences(user.Id); track $index) {
                <span class="bg-gray-100 text-gray-600 px-2 py-1 rounded-full text-xs mr-1 hover:cursor-pointer hover:bg-secondary" (click)="openAbsence(absence)">
                  {{absence.AbsenceDefinitionName}}
                </span>
              }
              @if(getUserAbsences(user.Id).length > 4) {
                <span 
                  (click)="toggleExpand(user.Id)" 
                  class="bg-gray-200 text-gray-600 px-2 py-1 rounded-full text-xs cursor-pointer hover:bg-gray-300">
                  {{ isExpanded(user.Id) ? 'Show less' : '...' }}
                </span>
              }
            </td>

          </tr>
        }
      </tbody>
    </table>
</div>

@if (selectedAbsence) {
  @if (selectedAbsence) {
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50" (click)="closeAbsence()">
    <div class="bg-white rounded-xl p-6 w-96 shadow-xl" (click)="$event.stopPropagation()">

      <h2 class="text-xl font-bold mb-4">{{selectedAbsence.AbsenceDefinitionName}}</h2>

      <div class="flex flex-row gap-5 justify-between text-primary font-bold pb-3">
        <span>
          {{selectedAbsence.PartialTimeFrom | date}}
        </span>
        -
        <span>
          {{selectedAbsence.PartialTimeTo | date}}
        </span>
      </div>


      <p class="text-gray-500 text-sm mb-2">User: <span class="font-bold text-gray-500">{{selectedAbsence.FirstName + ' ' + selectedAbsence.LastName}}</span></p>
      <p class="text-gray-500 text-sm mb-2">Status: {{selectedAbsence.Status}}</p>
      <p class="text-gray-500 text-sm mb-2">Created: {{selectedAbsence.CreatedOn | date}}</p>

      <button (click)="closeAbsence()" class="mt-4 bg-primary text-white px-4 py-2 rounded-lg w-full hover:bg-secondary hover:cursor-pointer">
        Close
      </button>

    </div>
  </div>
}

}


}